extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Sobre nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eveniet voluptates fugit perferendis libero possimus blanditiis, voluptatem vero non amet excepturi quisquam quam, esse aliquid at quasi ducimus ipsam aspernatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem delectus reprehenderit, laudantium omnis molestiae pariatur nisi dolorum, maxime quae ad iusto corrupti corporis facilis fuga voluptas aut numquam labore odit.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam modi maiores blanditiis id earum deserunt, eos atque quo delectus expedita, minus assumenda quia praesentium cum mollitia? Obcaecati unde ex iste.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quos molestias asperiores quas dicta doloremque ea a natus placeat. Hic minima similique perferendis commodi molestiae minus excepturi consequatur vel dolor!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="Icono segurida")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam natus sed, vero saepe laboriosam eveniet.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="Icono segurida")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam natus sed, vero saepe laboriosam eveniet.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="Icono segurida")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam natus sed, vero saepe laboriosam eveniet.